
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sobre o Desenvolverdor</title>
    <link rel="stylesheet" href="~/Content/estilo.css">
</head>
<body>
    <nav class="menu-bar">
        <ul style="">
            <li><a href="~/StreetFighter/Index">Início</a></li>
            <li><a href="~/StreetFighter/Cadastro">Cadastro</a></li>
            <li><a href="~/StreetFighter/FichaTecnica">Ficha Técnica</a></li>
            <li><a href="~/StreetFighter/Sobre">Sobre</a></li>
        </ul>
    </nav>
    <div class="container">
        @RenderBody()
    </div>

</body>
</html>