
@{
    ViewBag.Title = "FichaTecnica";
}

<section class="container">
    <article class="col-md-12">
        <h4>@ViewBag.situacao</h4>
        <section><p>Id: @Model.Id</section></p>
        <section><p>Nome: @Model.Nome</section></p>
        <section><p>Valor: R$ @Model.Valor</section></p>
     </article>
</section>
