
@{
    ViewBag.Title = "FichaTecnica";
}

<section class="container">
    <article class="col-md-12">
        <p>Id: <section>@Model.Id</section></p>
        <p>Nome: <section>@Model.Nome</section></p>
        <p>Valor: R$ <section>@Model.Valor</section></p>
     </article>
</section>
