@{
    ViewBag.Title = "Produto";
}

<section class="container">
    
    <section class="col-md-12">
        <header><h2>Produtos</h2></header>          
         <section class="form-group">
            @using (Html.BeginForm("Produto", "Produto", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.TextBox("nome", null, new { @class="form-control", placeholder="Digite um nome para pesquisar", style="display: inline-block"})
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Pesquisar</button>
                <a style="display: inline-block" href="~/Produto/Cadastro" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Cadastrar produto</a>
            }
        </section>
    </section>
    <article class="col-md-12">
        <div class="row">
        
        @{
            foreach (var produto in Model)
            {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>@produto.Nome</h3>
                        <p>R$ @produto.Valor</p>
                        <p style="display: none;">ID: @produto.Id</p>
                        <p>
                            <a href="~/Produto/FichaTecnica?id=@produto.Id" class="btn btn-success" role="button">Detalhes</a>
                            <a href="~/Produto/Editar?id=@produto.Id" class="btn btn-primary" role="button">Editar</a>
                            <a href="#" class="btn btn-danger" role="button">Excluir</a>
                        </p>
                    </div>
                </div>
            </div>
             }
        }
        </div>
    </article>
</section>

