
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <h2>Cadastro</h2>
</header>

<div class="main">

    <div class="personagem">
        <h1>Blanka</h1>
    </div>
    <div class="img-cont-ft">
        <img src="http://www.arkade.com.br/revista/38/data/images/img61.gif" alt="blanka-muito-loko">
    </div>
    <div class="descricao-ft">
        <b>Nome: </b><br>
        <b>Data Nascimento: </b><br>
        <b>Altura:</b><br>
        <b>Peso: </b><br>
        <b>Habilidades Especiais: </b><br>
        <b>Origem:</b><br>
        <b>Golpes Especiais: </b><br>
        <b>Personagem Oculto: </b><br>
        </p>
    </div>
</div>
<br>
