
@{
    ViewBag.Title = "FichaTecnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="personagem">
        <h1>Blanka</h1>
    </div>
    <div class="img-cont-ft">
        <img src="http://www.arkade.com.br/revista/38/data/images/img61.gif" alt="blanka-muito-loko">
    </div>
    <div class="descricao-ft">
        <b>Primeira aparição:</b>@Model.PrimeiraAparicao<br>
        <b>Nascimento: </b>12 de fevereiro de 1966. <br>
        <b>Altura:</b> 192cm. <br>
        <b>Peso:</b> 96kg. <br>
        <b></b>Medidas: B198, C120, Q172.<br>
        <b>Tipo sanguíneo:</b> B. <br>
        <b>Habilidades especiais:</b> Caçar, Eletricidade. <br>
        <b>Gosta:</b> Frutas tropicais, Pirarucu, Sua mãe. <br>
        <b>Estilo de luta:</b> Luta Selvagem autodidata (Army Ants) / Capoeira.<br>
        <b>Origem:</b> Brasil (lugar de nascença é provável como sendo Tailândia). <br>
        <b>Uma fala de vitória:</b> "Ver você em ação é uma piada!" <br>
        <b>SSF2 nickname:</b> "A selvagem criança da natureza". <br>
        <b>SFA3 nickname:</b> "A animal pessoa amazônica". <br>
        <b>SF4 nickname:</b> "Guerreiro da selva". <br>
        <b>SFA3 stage:</b> Ramificação do Rio Madeira - pantano, Brasil (ramificação do rio Madeira: talvez possa ser Mato Grosso, ou Tocantins?). <br>
        <b>SF2 stage:</b> Bacia do rio Amazonas (Brasil). <br>
        <b>Golpes especiais famosos:</b> Electric Thunder, Rolling Attack.<br>
        </p>
    </div>
</div>
