
@{
    ViewBag.Title = "Sobre";
}

<div class="main">
    <div class="personagem">
        <h2>Arthur Lima de Souza</h2>
    </div>
    <div class="img-cont">
        <img src="https://avatars3.githubusercontent.com/u/18702590?v=3&s=460" alt="Arthur-muito-loko">
    </div>
    <div class="descricao">
        <b>Primeira aparição:</b> Igrejinha - RS <br>
        <b>Nascimento: </b>27 de novembro de 1998. <br>
        <b>Altura:</b> 1.82cm. <br>
        <b>Peso:</b> 75kg. <br>
        <b>Tipo sanguíneo:</b> O-. <br>
        <b>Habilidades especiais:</b> Montar cubo mágico e jogar FIFA <br>
        <b>Gosta:</b> Pizza, Bacon, Café, Sua mãe. <br>
        <b>Estilo de luta:</b> Peleia Bagual<br>
        <b>Origem:</b> Rio Grande do Sul <br>
        <b>Uma fala de vitória:</b> "Não tá morto quem peleia" <br>
        <b>Golpes especiais famosos: </b>Voadora giratória<br>
        </p>
    </div>
</div>
<br>